* {
  margin: 0;
  padding: 0;
}
body {
  font-family: calibri;
  font-size: 16px;
}
@media only screen and (min-width: 720px) {
  .container {
    margin: 0 20vw;
  }
  
  .Title h1, .Title h2 {
    text-align: right !important;
  }
  
  .Title {
    left: 70% !important;
  }
}

.Title h1, .Title h2 {
  text-align: center;
}

.Title h1 {
  font-size: 2rem;
}

.Title h2 {
  font-size: 1.5rem;
}

.BannerPicture {
  background: url("EEB2.png") no-repeat center;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.Banner {
  overflow: hidden;
}

.BannerPicture::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.25)
}

.Title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav {
  position: fixed;
  width: 100vw;
  height: 47px;
  font-size: 2rem;
  text-align: right;
  z-index: 10;
  transition: 0.25s;
  overflow: hidden;
}

.topnav a {
  color: black;
  transition: 0.25s;
  text-decoration: none;
}

.topnav a:hover {
  color: #2674f2;
}

.topnav * {
  margin-right: 25px;
  margin-top: 5px;
}

.topnav .active {
  font-weight: bold;
  border-bottom: 30px solid #2674f2;
}

.scrolled {
  background: rgba(0, 0, 0, 0.9);
}

.scrolled a {
  color: white;
}
