* {
  margin: 0;
  padding: 0;
}
body {
  font-family: calibri;
  font-size: 16px;
}

.container {
  margin: 0 20vw;
}

.Title h1, .Title h2 {
  text-align: right;
}

.Title h1 {
  font-size: 2rem;
}

.Title h2 {
  font-size: 1.5rem;
}

.BannerPicture {
  background: url("EEB2.png") no-repeat center;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.Banner {
  overflow: hidden;
}

.BannerPicture::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.25)
}

.Title {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.topnav {
  position: fixed;
  width: 100vw;
  height: 50px;
  font-size: 2rem;
  text-align: right;
  z-index: 10;
}

.topnav * {
  margin-right: 25px;
}

.scrolled {
  background: rgba(0, 0, 0, 0.9);
}
